celery==5.3.5
easyocr==1.7.1
fastapi==0.104.1
opencv_python==4.8.1.78
opencv_python_headless==4.8.1.78
passlib==1.7.4
Pillow==10.1.0
psutil==5.9.6
pydantic==1.10.13
python_jose==3.3.0
pytz==2023.3.post1
redis==5.0.1
SQLAlchemy==2.0.23
torch==2.1.1
typing_extensions==4.8.0
ultralytics==8.0.212
uvicorn==0.24.0.post1
python-multipart==0.0.6
python-jose==3.3.0
bcrypt==4.0.1
torchaudio==2.1.1
modelscope==1.9.5
httpx==0.25.1
omegaconf==2.3.0
timm==0.9.12
easydict==1.11
transformers==4.36.2
yolov5==7.0.13
cvzone==1.6.1
deep_sort_realtime==1.3.2

opencv-python~=4.8.1.78
starlette~=0.27.0
numpy~=1.24.4
utils~=1.0.2
pyyaml~=6.0.1
torchvision~=0.16.1
matplotlib~=3.7.5
pandas~=2.0.3
seaborn~=0.13.2
scipy~=1.10.0
requests~=2.31.0
tqdm~=4.66.2
thop~=0.1.1-2209072238